<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div id="banner">
    	<div class="jumbotron">
     		<div class="container">
	       <h2>Welcome <%= email %>!</h2>
	       <h4>You've sent <%= compliments%> compliments</h4>
	       <form action="/sendmail" method="post">
            <input type="text" class="form-control" placeholder="Recepient's Email" name="tofield">
            <textarea id="emailmessage"class="form-control" placeholder="Why do you appreciate this person?" name="message"></textarea>
            <button class="btn btn-info" type="submit">Send Message!</button> <!--Title for button is same as that of the page-->
          </form>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>
