<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div id="banner">
      <div class="jumbotron">
       <div class="container">
  	       <h1>Make Someone's Day :) </h1>
           <h4><%=message%></h4>
           <div id="responsive" class="input-group has-feedback" >
             <form action="/sendmail" method="post">
              <input id="key" type="password" class="form-control" placeholder="SecretKey" name="secretkey" property="required">
              <input type="text" class="form-control" placeholder="Recipient's Email" name="tofield" property="required">
              <textarea id="emailmessage"class="form-control" placeholder="Why do you appreciate this person?" name="message"></textarea>
              <button id="kudosubmit" class="btn btn-info" disabled ="true" type="submit">Send Kudo!</button> 
            </form>
          </div>
      </div>
     </div>
    </div>
    <script type="text/javascript">
      $('#key').on('input',function(e){
        var user_input = $('#key').val();
        var params = {secretkey: $(this).val()};
          console.log(params);
          $.ajax({
              url: '/user',
              data: params,
              complete: function(xhr,statusText){
                if(xhr.status!=200){
                  $('#kudosubmit').prop('disabled',true);
                  $('#responsive').addClass('has-error');
                  $('#responsive').removeClass('has-success');
                  console.log("not found");
                } else{
                  $('#kudosubmit').prop('disabled',false);
                  $('#responsive').addClass('has-success');
                   $('#responsive').removeClass('has-error');
                  console.log("found");
                }
              }
          });
      });


    </script>


  </body>
</html>
